* {
    margin: 0;
}

:root {
    --txtClr: #ff4b3e;
    --bkgrClr: #6f1d1b;
}

body {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}

#txbImg {
    display: inline-grid;
    width: 20vw;
    height: 20vh;
    grid-column-start: 5;
    grid-row-start: 6;
}

#abtMe {
    display: inline-grid;
    grid-column: 7/span 2;
    grid-row: 3/span 2;
    text-align: center;
    padding: 50px 0;
    background-color: var(--bkgrClr);
    color: var(--txtClr);
}

#prjcts {
    grid-row: 6/span 2;
    grid-column: 3/span 2;
    text-align: center;
    padding: 50px 0;
    background-color: var(--bkgrClr);
    color: var(--txtClr);
}

#resume {
    grid-row: 3/span 2;
    grid-column: 4/span 2;
    text-align: center;
    padding: 50px 0;
    background-color: var(--bkgrClr);
    color: var(--txtClr);
}

.link {
    text-align: center;
}

#lnk1 {
    grid-column: 4/span 1;
    grid-row: 8/span 1;
}

#lnk2 {
    grid-column: 5/span 1;
    grid-row: 8/span 1;
}

#lnk3 {
    grid-column: 6/span 1;
    grid-row: 8/span 1;
}

#lnk4 {
    grid-column: 7/span 1;
    grid-row: 8/span 1;
}