* {
    margin: 0;
}

body {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}

#txbImg {
    display: inline-grid;
    width: 20vw;
    height: 40vh;
    grid-column-start: 5;
    grid-row-start: 4;
}

#abtMe {
    display: inline-grid;
    grid-column: 7/9;
    grid-row: 3/5;
    text-align: center;
    padding: 50px 0;
    background-color: blanchedalmond;
}

#prjcts {
    grid-row: 6/8;
    grid-column: 3/5;
    text-align: center;
    padding: 50px 0;
    background-color: aliceblue;
}

#resume {
    grid-row: 2/4;
    grid-column: 4/6;
    text-align: center;
    padding: 50px 0;
    background-color: whitesmoke;
}

#lnk1 {
    grid-column: 5/6;
    grid-row: 8/9;
}

#lnk2 {
    grid-column: 6/7;
    grid-row: 8/9;
}

.emptBox {
    display: inline-grid;
    grid-column: 3/4;
    grid-row: 3/5;
    background-color: blue;
}