/* UNIVERSAL */
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: rgb(20, 0, 123);
}


:root {
    --txtClr: rgb(20, 0, 123);
    --bkgrClr: #ffffff;
    --inPgBkgrClr: rgba(93, 177, 223, 0.95);
    --inPgInnerClr: rgba(255,255,255,.7)
}

#titBar {
    padding-top: 2vh;
}


#title {
    text-align: center;
    display: inline;
    color: var(--txtClr);
}

#modalBurgah {
    margin-left: 76vw;
    background-color: var(--inPgBkgrClr);
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 10vh;
    z-index: 1;
    overflow: auto;
    display: none;
    text-align: center;
    padding: 10px 0;
    border: 3px solid rgb(0,0,0);
    text-decoration: none;
    text-transform: none;
}

/* Inspiration for Burger Bar from https://uiverse.io/cssbuttons-io/brown-otter-21 */
#BurgahBar {
    background-color: var(--inPgBkgrClr);
    border: 3px solid var(--txtClr);
    display: inline-block;
    text-align: center;
    padding: .75em 0;
}

.modB {
    text-decoration: none;
    color: var(--txtClr)k;
    background-color: rgba(255, 255, 255, .3);
    margin-bottom: 1vh;
    color: var(--txtClr);
}

span#bText {
    text-decoration: none;
}

article:link { text-decoration: none; color: var(--txtClr); padding: 3px 0; background-color: rgba(0, 0, 0, .4); margin: 2px}
article:visited { text-decoration: none; color: var(--txtClr); padding: 3px 0; background-color: rgba(0, 0, 0, .4); margin: 2px}
article:hover { text-decoration: none; color: var(--txtClr); padding: 3px 0; background-color: rgba(0, 0, 0, .4); margin: 2px}
article:active { text-decoration: none; color: var(--txtClr); padding: 3px 0; background-color: rgba(0, 0, 0, .4); margin: 2px}


#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 101%;
    min-height: 100%;
    z-index: -1;
    display: none;
  }

/* Home Page */
#homePg {
    background-color: ;
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}


#txbImgCont {
    display: inline-grid;
    grid-column: 5/span 2;
    grid-row: 4/ span 4;
    background-color: rgba(93, 177, 223, 0.75);
    justify-content: center;
    align-items: center;
}

#txbImg {
    display: flex;
    width: 190px;
    height: 235px;
}

.nuxt {
    text-align: center;
    padding: 7vw 0;
    font-size: 30px;
    background-color: rgba(93, 177, 223, 0.75);
    color: var(--txtClr);
    text-decoration: none;
}

#abtMe {
    grid-column: 7/span 2;
    grid-row: 3/span 2;
}

#prjcts {
    grid-row: 6/span 2;
    grid-column: 3/span 2;
}

#resume {
    grid-row: 2/span 2;
    grid-column: 4/span 2;
}

.link {
    text-align: center;
    background-color: rgba(93, 177, 223, 0.75);
    z-index: 1;
    width: 10vw;
    height: 10vh;
}

#lnk1 {
    grid-column: 4/span 1;
    grid-row: 8/span 1;
}

#lnk2 {
    grid-column: 5/span 1;
    grid-row: 8/span 1;
}

#lnk3 {
    grid-column: 6/span 1;
    grid-row: 8/span 1;
}

#lnk4 {
    grid-column: 7/span 1;
    grid-row: 8/span 1;
}

@media (max-width: 992px) {
    #txbImgCont {
        height: 40vh;
        grid-column: 4/span 4;
    }
    #prjcts {
        grid-column: 2/span 2;
    }
    #abtMe {
        grid-column: 8/span 2;
    }
    #colrBox11, #colrBox12, #colrBox13 {
        display: none !important;
    }
    #colrBox10  {
        grid-area: 6 / 1 / span 2 / span 1 !important;
    }
    #colrBox4  {
        grid-area: 3 / 10 / span 2 / span 1 !important;
    }
}
@media (min-width: 992px) {
    #prjcts {
        grid-column: 3/span 2 !important;
    }
    #abtMe {
        grid-column: 7/span 2 !important;
    }
    #colrBox10  {
        grid-area: 6 / 1 / span 2 / span 2 !important;
    }
    #colrBox4  {
        grid-area: 3 / 9 / span 2 / span 2 !important;
    }
    .nuxt {
        padding: 5vw 0 !important;
    }
}
@media (max-width: 768px) {
    .nuxt {
        padding: 60px 0 !important;
        font-size: 4vw !important;
    }
}

/* About Me */

#about-mePg {
    background-image: url(IMG_0316.png);
    background-size: 101%;
    background-repeat: no-repeat;
    background-position-y: 30%;
}

h1.col-6.gy-5 {
    background-color: var(--inPgBkgrClr);
    border-radius: 10px;
    text-align: center;
    padding: 30px;
}

a#abtMeTxt {
    background-color: var(--inPgInnerClr);
    border-radius: 10px;
}

div.col-10.col-lg-4.gy-5 {
    background-color: var(--inPgBkgrClr);
    border-radius: 2vh;
    padding: 30px;
}

h3.tit {
    margin-bottom: 5vh;
    background-color: var(--inPgInnerClr);
    border-radius: 10px;
}

.hobTxt {
    text-align: center;
    font-size: 3vh;
    text-decoration: none;
    color: var(--txtClr);
    display: none;
}

#hobTxtFirst {
    display: block;
}

#hobInfoFirst {
    display: block;
}

.hobInfo {
    text-align: left;
    margin-top: 5vh;
    background-color: var(--inPgInnerClr);
    border-radius: 10px;
    padding: 2vh 0;
    padding: 10px 10px;
    text-decoration: none;
    color: var(--txtClr);
    display: none;
}

button.col-3 {
    background-color: var(--inPgInnerClr);
}

@media only screen and (max-width: 768px) {
    #about-mePg {
        background-image: none;
        background-color: rgba(50, 132, 209, 0.95);
    }
}

/* Projects */

#daRest {
    opacity: 1;
}

#projectsPg {
    background-color: var(--inPgBkgrClr);
}


.row.gy-1 {
    margin-top: 3vh;
    padding: 5vh 0;
    background-color: var(--inPgBkgrClr);
}

.lnr.lnr-chevron-left.col-12.col-lg-1 {
    font-size: 10vh;
    padding: 4vh 0;
    border: 2px solid var(--txtClr);
    margin: 0 3vw;
    text-align: center;
}

.lnr.lnr-chevron-right.col-12.col-lg-1 {
    font-size: 10vh;
    padding: 4vh 0;
    border: 2px solid var(--txtClr);
    margin: 0 3vw;
    text-align: center;
}

#proj1Img {
    border: 2px solid blue;
}

.projImg {
    padding: 0;
    margin: 0 5px;
}

#proj {
    background-color: var(--inPgBkgrClr);
    border-radius: 10px;
}

.projMod {
    background-color: var(--inPgBkgrClr);
    overflow: auto;
}

.projBox {
    background-color: var(--inPgInnerClr);
    border-radius: 10px;
    width: 85%;
    margin: 7vh auto;
    box-shadow: 20px 20px 20px var(--inPgBkgrClr);
    display: flex;
    flex-direction: column;
}

div.projHead {
    padding-top: 2vh;
    padding-bottom: 2vh;
    text-align: center;
}

.projName {
    background-color: var(--inPgBkgrClr);
    border-radius: 10px;
    padding-bottom: 5px;
}

.projCont {
    margin: 10px 10vw;
    padding: 10px auto;
}

.projTxt {
    display: none;
}

#proj1Txt {
    display: flex;
}

/* Resume */

#resumePg {
    background-color: var(--inPgBkgrClr);
}

img.col-8.gy-5 {
    opacity: 1;
}